source https://nuget.org/api/v2

nuget EnterpriseLibrary.SemanticLogging
nuget EnterpriseLibrary.SemanticLogging.WindowsAzure
nuget FsPickler
nuget FSharp.Interop.Dynamic
nuget FSharpVSPowerTools.Core
nuget Microsoft.AspNet.SignalR.Client
nuget Microsoft.AspNet.SignalR.Core
nuget Microsoft.AspNet.SignalR.Owin
nuget Microsoft.Owin.Host.HttpListener
nuget Microsoft.Owin.Hosting
nuget Microsoft.Tpl.Dataflow
nuget Nancy
nuget Nancy.Hosting.Self
nuget Nancy.Owin
nuget Nowin
nuget Microsoft.Diagnostics.Tracing.TraceEvent
nuget Owin
nuget Rx-Main
nuget UnionArgParser
nuget WindowsAzure.Storage

group Build
  source https://nuget.org/api/v2

  nuget SourceLink.Fake
  nuget FAKE
  nuget FSharp.Formatting

  github fsharp/FAKE modules/Octokit/Octokit.fsx

group Test
  source https://nuget.org/api/v2

  nuget NUnit ~> 3.5
  nuget NUnit.Runners ~> 3.5