<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>etwas</title>
    </head>
    <body>
        <p>Aggregated logs for 127.0.0.1 (TODO: Put in deployment identifier here)</p>
        <div class="container">
            <ul id="logs"></ul>
        </div>
        <script src="scripts/jquery-2.1.1.min.js"></script>
        <script src="scripts/jquery.signalR-2.1.0.min.js"></script>
        <script src="/signalr/js"></script>
    <script type="text/javascript">
        $(function () {
            String.prototype.htmlEscape = function () {
                return $('<div/>').text(this.toString()).html();
            };
            var display = $.connection.display;
            display.client.event = function (s) {
                $("#logs").append("<li>" + s.htmlEscape() + "</li>");
            };
            display.client.clientCount = function (n) {
                $("clientCount").innerText = n;
                console.log("Connected clients: " + n);
            }
            $.connection.hub.start().done(function() {
                console.log("Connected");
            });
        });
    </script>
    </body>
</html>
